#include "icon.h"
MYICON ICON RVG.ico
TEXTURE_DOOR_LEFT BITMAP Rusted_Door_Left.bmp
TEXTURE_DOOR_RIGHT BITMAP Rusted_Door_Right.bmp
TEXTURE_WALL BITMAP Wall.bmp
TEXTURE_WALL2 BITMAP Wall2.bmp
TEXTURE_WALL3 BITMAP Wall3.bmp
TEXTURE_PILLAR BITMAP Pillar.bmp
TEXTURE_BARRIER BITMAP Barrier.bmp
TEXTURE_BARRIER2 BITMAP Barrier2.bmp
TEXTURE_BARRIER3 BITMAP Barrier3.bmp

